.no_selection {
    /* I do not like playing the game if I can select stuff and get the blue selection box, so here it is disabled. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border {
    border: 1px solid black;
}
.game_box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 900px;
    height: 900px;
    z-index: 0;
}
.game_cell {
    display: inline-block;
    text-align: center;
    font-size:1200%; /* The x's and o's in the game are just text characters, so I set their size to a large value that "looked about right".  */
    width: 298px;
    height: 298px;
    z-index: 0;
    cursor: pointer;
}

