<html>
  <head><title>Tic Tac Toe</title></head>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}"></link>
  <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/pythonic_functions.js" %}"></script>

  <body>
    <div class="game_box">
      <div class="game_cell">&nbsp;</div><div class="game_cell">&nbsp;</div><div class="game_cell">x</div><div class="game_cell">x</div><div class="game_cell">x</div><div class="game_cell">x</div><div class="game_cell">x</div><div class="game_cell">x</div><div class="game_cell">x</div>  
    </div>
  </body>
</html>
