<html>
  <head><title>Tic Tac Toe</title></head>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}"></link>
  <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/pythonic_functions.js" %}"></script>
  <script type="text/javascript" src="{% static "js/main_functions.js" %}"></script>

  <body>
    <div class="game_box_cover" id="cover"></div>
    <div class="game_box no_selection">
      <div class="game_cell border" id="cell_0">&nbsp;</div><div class="game_cell border" id="cell_1">&nbsp;</div><div class="game_cell border" id="cell_2">&nbsp;</div><div class="game_cell border" id="cell_3">&nbsp;</div><div class="game_cell border" id="cell_4">&nbsp;</div><div class="game_cell border" id="cell_5">&nbsp;</div><div class="game_cell border" id="cell_6">&nbsp;</div><div class="game_cell border" id="cell_7">&nbsp;</div><div class="game_cell border" id="cell_8">&nbsp;</div>  
    </div>
  </body>
</html>
